ion-content {
    --background: #f4f4f4;
}
.container {
    padding: 16px;
}
.title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

  ion-list {
    min-height: 100px; /* Default height (5 items) */
  }

  .category-box {
    border: 2px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #f9f9f9;
  }
  
  .category-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .ingredient-list-container {
    padding-left: 10px;
  }