<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Category Page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Grocery App</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <div class="title">Add Your Ingredients</div>
    <ion-item>
      <ion-button (click)="openAddIngredientModal()">Add Ingredient</ion-button>
      <ion-button (click)="openAddCategoryModal()">Add Category</ion-button>
    </ion-item>

    <div>
      <app-category-list [ingredientsByCategory]="ingredientsByCategory"></app-category-list>
    </div>
</ion-content>
